#rooms-page{

    .page__wrapper{
        padding-top: 30px;
        display: grid;
        grid-template-columns: 270px 3fr;
        grid-template-rows: 1fr;
        gap: 5em;
        grid-template-areas: 'aside section';
        
    }

    aside{
        grid-area: aside;
    }

    section{
        grid-area: section;
    }

    form{        
        padding: 0;
    }
}