.info-list {
    width: 100%;
    max-width: 290px;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    margin-right: 20px;    

    &__item {
        width: 100%;
        height: auto;
        min-height: 80px;
        border: none;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &:last-child{
            border: none;
        }

        div:first-child {
            margin-right: 20px;
        }
        
        span {
            margin: 0;
            margin-bottom: 5px;
            display: block;
        }
    }
}