@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: auto;

    color: rgba(31,32,65,0.75);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
    color: rgba(31,32,65,1);
}

nav{
    color: rgba(31,32,65,0.5);
}

.logo{
    width: auto;
    max-width: 105px;
    height: 40px;
}

ul{
    list-style: none;
}

.page{
    width: 100%;
    height: auto;  
    
    &__wrapper{
        width: 100%;
        height: auto;

        padding: 70px 140px;
        margin: 0;
    }

    &__inner{
        margin: 0;
        margin-bottom: 30px;
        display: flex;

        article{
            flex: 0 0 50%;
        }
    }
}